## This notebook prepares several datasets for testing NN impls while varying the number of features, records, etc. using only integers between 0 and 50

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0,10,size=(1000, 4)), columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])

In [3]:
print(df.shape)

(1000, 4)

In [4]:
df.head()

   Feature1  Feature2  Feature3  Feature4
0         3         0         9         6
1         3         8         1         7
2         3         2         4         4
3         9         3         4         0
4         3         9         1         7

In [5]:
# write out the data, the tribuo loader uses the header
df.to_csv('/data/src/Oracle/tribuo/Clustering/Core/src/test/resources/integers-5K-4features.csv', index=False, header=True)

In [6]:
df = pd.DataFrame(np.random.randint(0,25,size=(250000, 8)), columns=['Feature1', 'Feature2', 'Feature3', 'Feature4', 'Feature5', 'Feature6', 'Feature7', 'Feature8'])

In [7]:
print(df.shape)

(250000, 8)

In [8]:
df.head()

,Feature1,Feature2,Feature3,Feature4,Feature5,Feature6,Feature7,Feature8
0,0,21,23,7,10,6,19,5
1,0,18,21,19,0,18,22,0
2,23,0,14,12,12,8,22,16
3,10,22,14,16,1,14,24,10
4,20,6,0,20,24,18,12,23

In [9]:
# write out the data, the tribuo loader uses the header
df.to_csv('/data/src/Oracle/tribuo/Clustering/Core/src/test/resources/integers-250K-8features.csv', index=False, header=True)