## This notebook prepares a dataset for testing HDBSCAN Performance: 50000 records, 6 centers, 7 features

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_blobs

In [2]:
X, y = make_blobs(n_samples=50000, centers=6, n_features=7, random_state=0)

In [3]:
print(X.shape)

(50000, 7)

In [4]:
print(X[0])

[  0.6023416   -0.37495916  -5.7706391    6.06399336  -1.06040465
   2.36238377 -11.39805719]

In [5]:
df = pd.DataFrame({'Feature1': X[:, 0], 'Feature2': X[:, 1], 'Feature3': X[:, 2], 'Feature4': X[:, 3],
                   'Feature5': X[:, 4], 'Feature6': X[:, 5], 'Feature7': X[:, 6]})

In [6]:
df.head(10)

   Feature1  Feature2  Feature3   Feature4  Feature5  Feature6   Feature7
0  0.602342 -0.374959 -5.770639   6.063993 -1.060405  2.362384 -11.398057
1  1.688797  3.198718  2.490968  10.177351  1.694162 -4.250377  -2.398952
2  4.718488 -1.253944  4.490699  -5.952670  0.996122 -6.525604  10.207481
3  1.076175  5.585624  1.085188   2.143040 -0.830033  2.853330  -2.306096
4 -2.118262 -1.514694 -4.318334   6.627320 -0.694475  1.535542 -10.963167
5  6.588203  9.528266 -2.630846   6.488710  1.723311  1.676188   8.608365
6  0.867917  5.140051  1.243405   0.060005 -0.211616  2.553359   0.745315
7  6.582555 -0.818618  6.643404  -6.864555  3.187543 -9.672304  10.576756
8  4.401374 -2.549581  4.834221  -8.223503  3.914765 -5.761899   7.481908
9  6.094434 -0.583238  6.725514  -8.108239  2.986612 -8.487490   8.211762

In [7]:
# write out the data, the tribuo loader uses the header
df.to_csv('/Users/gstewart/temp/development/mscs/cpsc69700/RefImpl/HDBSCAN_Star/verybig-gaussians-6centers.csv', index=False, header=False)
df.to_csv('../../data/verybig-gaussians-6centers.csv', index=False, header=True)